/* 

font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; 

*/

/* remove this once the solution complete */

h1 {
    /* Primary */
    color: hsl(7, 99%, 70%); /* Soft red */
    color: hsl(51, 100%, 49%); /* Yellow */
    color: hsl(167, 40%, 24%); /* Dark desaturated cyan (graphic design text) */
    color: hsl(198, 62%, 26%); /* Dark blue (photography text) */
    color: hsl(168, 34%, 41%); /* Dark moderate cyan (footer) */

    /* Neutral */
    color: hsl(212, 27%, 19%); /* Very dark desaturated blue */
    color: hsl(213, 9%, 39%); /* Very dark grayish blue */
    color: hsl(232, 10%, 55%); /* Dark grayish blue */
    color: hsl(210, 4%, 67%); /* Grayish blue */
    color: hsl(0, 0%, 100%); /* White */
}

/* || Typography */

body {
    letter-spacing: 0.2px;
    word-spacing: 0.8px;
    font-family: 'Barlow', sans-serif;
}

.nav a {
    font-size: 1.125rem;
    line-height: 3.16;
}

header .wr-contact a {
    font-size: 1rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    line-height: 3.5em;
}

.sec-creative .hero h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    font-family: 'Fraunces', serif;
    text-align: center;
    line-height: 1.3;
    font-weight: 900;
    letter-spacing: 7px;
}

.sec-creative h3 {
    font-size: 2rem;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    text-align: center;
    font-family: 'Fraunces', serif;
}

.sec-creative p {
    font-size: 1.125rem;
    color: hsl(232, 10%, 55%);
    text-align: center;
}

.sec-creative a {
    font-size: 1.125rem;
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
}

.sec-service h3 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    text-transform: capitalize;
}

.sec-service p {
    font-size: 1rem;
    color: hsl(167, 40%, 24%);
    text-align: center;
}

.sec-service .graphic-design h3, 
.sec-service .graphic-design p {
    color: hsl(167, 40%, 24%);
}

.sec-service .photography h3, 
.sec-service .photography p {
    color: hsl(198, 62%, 26%);
}

.sec-testimonial h2 {
    font-size: 1rem;
    color: hsl(210, 4%, 67%);
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    word-spacing: 8px;
    letter-spacing: 3px;
}

.sec-testimonial p {
    font-size: 1.125rem;
    color: hsl(198, 62%, 26%);
    text-align: center;
    line-height: 1.75;
}

.sec-testimonial h3 {
    font-size: 1.125rem;
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    text-align: center;
    font-weight: 900;
}

.sec-testimonial .role span {
    font-size: 0.876rem;
    color: hsl(210, 4%, 67%);
}

/* || Layout */

.wr-content {
    width: 87.5%;
    margin: 0 auto;    
}

/* || General */

.nav {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0 8px;
}

/* || Header */

header {
    position: relative;
}

header .wr-content {
    margin: 0 2.4em;
    width: auto;
}

header .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.4em 0 2.5em;
}

.sec-creative .wr-logo img {
    height: 2.5em;
    width: auto;
}

.sec-creative .wr-hamburger img {
    width: 2.7em;
}

header nav#nav {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s;
    border: 0;
    padding: 0;
    margin: 0;
    
    position: absolute;
    left: 2.4em;
    right: 2.4em;
    z-index: 1;
}

header nav#nav.active {
    max-height: 31em;
}

header .nav {
    padding: 1em 0 4em;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    margin-top: 2.6em;
}

header .nav::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: -2.5em;
    border: 1.4em solid;
    border-color: transparent hsl(0, 0%, 100%) hsl(0, 0%, 100%) transparent;
}

header .wr-contact a {
    width: 8.75em;
    background-color: hsl(51, 100%, 49%);
    box-shadow: inset 0 0 1px 1px hsl(51deg 70% 50% / 50%);
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 0.7em;
}

header .nav a:link, 
header .nav a:visited {
    color: hsl(232, 10%, 55%);
}

header .nav a:hover, 
header .nav a:active, 
header .nav a:focus {
    color: hsl(212, 27%, 19%);
}

header .wr-contact a:link, 
header .wr-contact a:visited {
    color: hsl(212, 27%, 19%);
}

header .wr-contact a:active {
    background-color: hsl(51, 100%, 68%);
}

/* || Section creatives */

.sec-creative .hero {
    height: calc(100vh - 8.55em);
    padding-top: 1px;
    /* background: url(../images/mobile/image-header.jpg) center bottom / 100% auto no-repeat; */
    display: flex;
    align-items: center;
    position: relative;
}

.sec-creative .wr-hero-img {
    height: 100vh;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.sec-creative .wr-hero-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

.sec-creative .wr-arrow {
    text-align: center;
}

.sec-creative .wr-arrow img {
    height: 100%;
    margin-top: 1.5em;
}

.sec-creative .brand-img {
    height: 31.5em;
    background: url(../images/mobile/image-transform.jpg) center / cover no-repeat;
}

.sec-creative .wr-brand-content, 
.sec-creative .wr-audience {
    padding: 3.8em 0 7em;
    background-color: #fffbf8;
}

.sec-creative p {
    margin-bottom: 1.75em;
    line-height: 1.6;
}

.sec-creative .wr-learn-more {
    text-align: center;
}

.sec-creative a {
    text-decoration: none;
    position: relative;
    margin: 0 auto;
    padding: 0 6px;
    z-index: 1;
}

.sec-creative a::after {
    position: absolute;
    content: '';
    height: 9px;
    border-radius: 10px;
    left: 0;
    right: 0;
    bottom: -1px;
    z-index: -1;
}

.sec-creative .wr-brand-content a::after {
    background-color: #f9f0ba;
}

.sec-creative .wr-audience a::after {
    background-color: #fdd7d4;
}

.sec-creative .audience-img {
    height: 31.5em;
    background: url(../images/mobile/image-stand-out.jpg) center / cover no-repeat;
}

/* || Section services */

.sec-service .graphic-design, 
.sec-service .photography {
    height: 60.3em;
    padding: 5.8em 0;
}

.sec-service .wr-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sec-service p {
    margin: 0;
}

.sec-service .graphic-design {
    background: url(../images/mobile/image-graphic-design.jpg) center top / cover no-repeat;
}

.sec-service .photography {
    background: url(../images/mobile/image-photography.jpg) center top / cover no-repeat;
}

/* || Section testimonials */

.sec-testimonial {
    color: hsl(0, 0%, 100%);
    padding: 5.2em 0;
}

.sec-testimonial .wr-testimonial {
    margin: 6em 0 3.4em;
}

.sec-testimonial img {
    display: block;
    width: 7.3em;
    height: 7.3em;
    margin: 0 auto;
    border-radius: 50%;
}

.sec-testimonial h3, 
.sec-testimonial p {
    margin-top: 2em;
}

.sec-testimonial .role {
    text-align: center;
}

/* || Section projects */

.sec-project {
    display: flex;
    flex-wrap: wrap;
}

.sec-project > div {
    flex: 50%;
}

.sec-project .wr-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* || Footer */

footer {
    background-color: #90d4c5;
    padding: 1px 0;
}

footer .wr-logo {
    text-align: center;
    margin: 6.8em 0 3em;
}

footer .wr-logo svg {
    transform: scale(1.3143);
}

footer .nav {
    display: flex;
    justify-content: center;
}

.nav a {
    margin: 0 1em;
}

footer .nav a:link, 
footer .nav a:visited {
    color: hsl(168, 34%, 41%);
}

footer .nav a:hover, 
footer .nav a:active, 
footer .nav a:focus {
    color: hsl(167, 40%, 24%);
}

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6.5em 0 5.5em;
}

footer .social > * {
    margin: 0 1.4em;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (min-width: 30.0625em) {
        
    /* || Typography */

    /* || Layout */

    /* || General */

    /* || Header */

    /* || Section creatives */

    .sec-creative .hero {
        background: url(../images/desktop/image-header.jpg) center bottom / 100% auto no-repeat;
    }

    /* || Section services */


    /* || Section testimonials */


    /* || Section projects */


    /* || Footer */

}



@media screen and (min-width: 48.0625em) {
        
    /* || Typography */

    /* || Layout */

    /* || General */

    /* || Header */

    /* || Section creatives */

    /* || Section services */


    /* || Section testimonials */


    /* || Section projects */


    /* || Footer */

}