
body {
    letter-spacing: 0.2px;
    word-spacing: 0.8px;
    font-family: 'Barlow', sans-serif;
}

.nav a {
    font-size: 1.125rem;
    line-height: 3.16;
}

header .wr-contact a {
    font-size: 1rem;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    line-height: 3.5em;
}

header .hero h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    font-family: 'Fraunces', serif;
    text-align: center;
    line-height: 1.3;
    font-weight: 900;
    letter-spacing: 7px;
}

.sec-creative h3 {
    font-size: 2rem;
    font-weight: 900;
    color: hsl(212, 27%, 19%);
    text-align: center;
    font-family: 'Fraunces', serif;
}

.sec-creative p {
    font-size: 1.125rem;
    color: hsl(232, 10%, 55%);
    text-align: center;
}

.sec-creative a {
    font-size: 1rem;
    font-family: 'Fraunces', serif;
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    font-weight: 900;
}

.sec-service h3 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    text-transform: capitalize;
}

.sec-service p {
    font-size: 1rem;
    color: hsl(167, 40%, 24%);
    text-align: center;
}

.sec-service .graphic-design h3,
.sec-service .graphic-design p {
    color: hsl(167, 40%, 24%);
}

.sec-service .photography h3,
.sec-service .photography p {
    color: hsl(198, 62%, 26%);
}

.sec-testimonial h2 {
    font-size: 1rem;
    color: hsl(210, 4%, 67%);
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-family: 'Fraunces', serif;
    word-spacing: 8px;
    letter-spacing: 3px;
}

.sec-testimonial p {
    font-size: 1.125rem;
    color: hsl(198, 62%, 26%);
    text-align: center;
    line-height: 1.75;
}

.sec-testimonial h3 {
    font-size: 1.125rem;
    color: hsl(212, 27%, 19%);
    font-family: 'Fraunces', serif;
    text-align: center;
    font-weight: 900;
}

.sec-testimonial .role span {
    font-size: 0.876rem;
    color: hsl(210, 4%, 67%);
}

/* || Layout */

.wr-content {
    width: 87.5%;
    margin: 0 auto;
}

/* || General */

.nav {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0 8px;
}

/* || Header */

header {
    position: relative;
    background: url(../images/mobile/image-header.jpg) center bottom / cover no-repeat;
    min-height: 53.8em;
}

header > .wr-content {
    margin: 0 2.4em;
    width: auto;
    padding: 3.4em 0 2.5em;
}

header .header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wr-logo img {
    height: 2.5em;
    width: auto;
}

header .wr-hamburger img {
    width: 2.7em;
    cursor: pointer;
}

header nav#nav {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s;
    border: 0;
    padding: 0;
    margin: 0;
    top: 8em;
    position: absolute;
    left: 2.4em;
    right: 2.4em;
    z-index: 1;
}

header nav#nav.active {
    max-height: 31em;
}

header .nav {
    padding: 1em 0 4em;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    margin-top: 2.6em;
}

header .nav::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    top: -2.5em;
    border: 1.4em solid;
    border-color: transparent hsl(0, 0%, 100%) hsl(0, 0%, 100%) transparent;
}

header .wr-contact a {
    width: 8.75em;
    background-color: hsl(51, 100%, 49%);
    box-shadow: inset 0 0 1px 1px hsl(51deg 70% 50% / 50%);
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 0.7em;
}

header .nav a:link,
header .nav a:visited {
    color: hsl(232, 10%, 55%);
}

header .nav a:hover,
header .nav a:active,
header .nav a:focus {
    color: hsl(212, 27%, 19%);
}

header .wr-contact a:link,
header .wr-contact a:visited {
    color: hsl(212, 27%, 19%);
}

header .wr-contact a:active {
    background-color: hsl(51, 100%, 68%);
}

header .hero {
    padding: 1.7em 0 5em;
}

header .wr-arrow {
    text-align: center;
}

header .wr-arrow img {
    height: 100%;
    margin-top: 1.5em;
}

/* || Section creatives */

.sec-creative .brand-img {
    height: 31.5em;
    background: url(../images/mobile/image-transform.jpg) center / cover no-repeat;
}

.sec-creative .wr-brand-content,
.sec-creative .wr-audience {
    padding: 3.8em 0 7em;
    background-color: #fffbf8;
}

.sec-creative p {
    margin-bottom: 1.75em;
    line-height: 1.6;
}

.sec-creative .wr-learn-more {
    text-align: center;
}

.sec-creative a {
    text-decoration: none;
    position: relative;
    margin: 0 auto;
    padding: 0 6px;
    z-index: 1;
}

.sec-creative a::after {
    position: absolute;
    content: '';
    height: 9px;
    border-radius: 10px;
    left: 0;
    right: 0;
    bottom: -2px;
    z-index: -1;
}

.sec-creative .wr-brand-content a::after {
    background-color: hsl(51, 84%, 85%);
}

.sec-creative .wr-brand-content a:hover::after,
.sec-creative .wr-brand-content a:focus::after,
.sec-creative .wr-brand-content a:active::after {
    background-color: hsl(51, 100%, 57%);
}

.sec-creative .wr-audience a::after {
    background-color: #fdd7d4;
}

.sec-creative .wr-audience a:focus::after,
.sec-creative .wr-audience a:hover::after,
.sec-creative .wr-audience a:active::after {
    background-color: hsl(4, 100%, 77%);
}

.sec-creative .audience-img {
    height: 31.5em;
    background: url(../images/mobile/image-stand-out.jpg) center / cover no-repeat;
}

/* || Section services */

.sec-service .graphic-design,
.sec-service .photography {
    height: 60.3em;
    padding: 5.8em 0;
}

.sec-service .wr-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sec-service p {
    margin: 0;
}

.sec-service .graphic-design {
    background: url(../images/mobile/image-graphic-design.jpg) center top / cover no-repeat;
}

.sec-service .photography {
    background: url(../images/mobile/image-photography.jpg) center top / cover no-repeat;
}

/* || Section testimonials */

.sec-testimonial {
    color: hsl(0, 0%, 100%);
    padding: 5.2em 0;
}

.sec-testimonial .wr-testimonial {
    margin: 6em 0 3.4em;
}

.sec-testimonial img {
    display: block;
    width: 7.3em;
    height: 7.3em;
    margin: 0 auto;
    border-radius: 50%;
}

.sec-testimonial h3,
.sec-testimonial p {
    margin-top: 2em;
}

.sec-testimonial .role {
    text-align: center;
}

/* || Section projects */

.sec-project {
    display: flex;
    flex-wrap: wrap;
}

.sec-project > div {
    flex: 50%;
}

.sec-project .wr-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* || Footer */

footer {
    background-color: #90d4c5;
    padding: 1px 0;
}

footer .wr-logo {
    text-align: center;
    margin: 6.8em 0 3em;
}

footer .wr-logo svg {
    transform: scale(1.3143);
}

footer .nav {
    display: flex;
    justify-content: center;
}

.nav a {
    margin: 0 1em;
}

footer .nav a:link,
footer .nav a:visited {
    color: hsl(168, 34%, 41%);
}

footer .nav a:hover,
footer .nav a:active,
footer .nav a:focus {
    color: hsl(0, 0%, 100%);
    transition: color 0.2s;
}

footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6.5em 0 5.5em;
}

footer .social > * {
    margin: 0 1.4em;
}

footer .social a {
    fill: #2C7566;
}

footer .social a:focus,
footer .social a:hover,
footer .social a:active {
    fill: hsl(0, 0%, 100%);
    transition: fill 0.2s;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(168, 34%, 41%);
}

.attribution a {
    text-decoration: none;
}

.attribution a:link, 
.attribution a:visited, 
.attribution a:active {
    color: #2C7566;
}

.attribution a:focus, 
.attribution a:hover {
    color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 30.0625em) {
    
    /* || Header */

    header {
        position: relative;
        background: url(../images/desktop/image-header.jpg) center bottom / cover no-repeat;
        min-height: 80em;
    }

    header nav#nav {
        width: 35em;
        left: initial;
    }
}

@media screen and (min-width: 31.25em) {

    /* || Section creatives */

    .sec-creative {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .sec-creative .brand-img {
        grid-column: 2;
        grid-row: 1;
    }

    .sec-creative .wr-brand-content {
        grid-column: 1;
        grid-row: 1;
    }

    .sec-creative .audience-img {
        grid-column: 1;
        grid-row: 2;
    }

    .sec-creative .wr-audience {
        grid-column: 2;
        grid-row: 2;
    }

    .sec-creative .brand-img,
    .sec-creative .audience-img {
        height: 100%;
    }

    /* || Section services */

    .sec-service {
        display: flex;
    }

    .sec-service > div {
        flex: 50%;
    }

    .sec-service .graphic-design {
        background: url(../images/desktop/image-graphic-design.jpg) center top / cover no-repeat;
    }

    .sec-service .photography {
        background: url(../images/desktop/image-photography.jpg) center top / cover no-repeat;
    }
}

@media screen and (min-width: 43em) {

    /* || Typography */

    .sec-creative h3 {
        text-align: left;
    }

    .sec-creative p {
        text-align: left;
    }

    /* || Header */

    header .wr-logo img {
        height: 3.5em;
    }

    /* || Section creatives */

    .sec-creative .wr-learn-more {
        text-align: left;
    }

    /* || Section testimonials */

    .sec-testimonial .wr-all-testimonial {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2em;
    }

    /* || Section projects */

    .sec-project > div {
        flex: 25%;
    }
}

@media screen and (min-width: 48.0625em) {

    /* || Header */

    header {
        position: initial;
    }

    header > .wr-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3.3em 0;
    }

    header .header-main {
        display: initial;
    }

    header .wr-hamburger {
        display: none;
    }

    header nav#nav {
        max-height: initial;
        position: initial;
        transition: none;
        width: initial;
    }

    header .nav {
        display: flex;
        padding: 0;
        margin: 0;
        background-color: initial;
    }

    header .nav a {
        transition: all 0.2s;
    }

    header .nav::before {
        display: none;
    }

    header .nav a:link,
    header .nav a:visited {
        color: hsl(0, 0%, 100%);
    }

    header .nav a:hover,
    header .nav a:active,
    header .nav a:focus {
        color: hsl(212, 27%, 19%);
    }

    header .wr-contact a {
        margin-top: 0;
        margin-right: 0;
        background-color: hsl(0, 0%, 100%);
        box-shadow: inset 0 0 1px 1px hsl(210deg 4% 67% / 20%);
    }

    header .wr-contact a:link,
    header .wr-contact a:visited {
        color: hsl(212, 27%, 19%);
    }

    header .wr-contact a:hover,
    header .wr-contact a:active,
    header .wr-contact a:focus {
        color: hsl(0, 0%, 100%);
        background-color: hsl(0deg 0% 100% / 30%);
    }
}

@media screen and (min-width: 64.0625em) {

    /* || Typography */

    header .hero h2 {
        font-size: 3.5rem;
    }

    .sec-creative h3 {
        font-size: 2.5rem;
    }

    .sec-testimonial h2 {
        font-size: 1.25rem;
    }

    /* || Header */

    header .hero {
        padding: 2.2em 0 5em;
    }

    /* || Section creatives */

    .sec-creative .wr-brand-content,
    .sec-creative .wr-audience {
        padding: 12em 0 16em;
    }

    .wr-brand-content .wr-content,
    .wr-audience .wr-content {
        width: auto;
        margin: 0 15.9% 0 22.25%;
    }

    /* || Section services */

    .sec-service .wr-content {
        width: 50%;
    }

    /* || Section testimonials */

    .sec-testimonial {
        padding: 15em 0 13em;
    }

    .sec-testimonial .wr-all-testimonial {
        column-gap: 3.5em;
    }

    .sec-testimonial .wr-content {
        width: 78%;
    }
}
